################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/FsWebTests/GiraffeHost/bin/Debug
/FsWebTests/GiraffeHost/obj
/FsWebTests/packages
